﻿<template>
    <div>
        <div v-if="isAddRice === false">
            <button class="btn btn-primary" type="button" @click="AddNewRice">Add New Rice</button>
            <br />
            <br />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Rice Name</th>
                        <th>Rice Stock</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(rice,index) in rices" :key="index">
                        <td>{{rice.riceName}}</td>
                        <td>{{rice.riceUrl}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div v-if="isAddRice === true">

            <validation-observer ref="observer" v-slot="{validate,valid}">
                <form method="post" @submit.prevent="insertRice">
                    <label class="col-form-label">Rice Name</label>
                    <validation-provider name="Rice Name" rules="required" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newRice.riceName" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />

                    <label class="col-form-label">Rice Stock</label>
                    <validation-provider name="Rice Stock" rules="required" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newRice.riceStock" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />
                    
                    <br />
                    <button class="btn btn-primary" type="submit">
                        <fa-icon icon="check"></fa-icon>
                        Submit
                    </button>
                </form>
            </validation-observer>
          
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
    import Component from 'vue-class-component';
    import { RiceService , RiceModel } from '../services/NSwagService';
    import { ValidationObserver } from 'vee-validate'
    import { RiceModelTemp } from '../models/IRiceModel'
    import { RiceServiceSingleton } from '../services/RiceService';
     import swal from 'sweetalert2';

    @Component({
        created: async function (this: ListRice) {
            await this.getRices();
        }
       
})
    export default class ListRice extends Vue {
        service: RiceService = new RiceService();
        serviceTest = RiceServiceSingleton;

        rices: RiceModelTemp[] = [];

        isAddRice = false;

        newRice: RiceModel = {
            riceName: '',
            riceStock: 0

        }

        async getRices(): Promise<void>
        {
            this.rices = await this.serviceTest.getAllRice();
        }

        async insertRice(): Promise<void>
        {

            const valid = await (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();
            if (valid == false) {
                return;
            }
            //await this.service.insert(this.newEmployee);
            await this.service.insertRice(this.newRice);
            await this.getRices();

            swal.fire({
                title: 'Yeayy!',
                icon: 'success',
                text: 'Success insert new data employee.'
            });

            this.isAddRice = false;

        }

        AddNewRice(): void {
            this.isAddRice = true;
            return;
        }

        async deleteRice(riceId): Promise<void> {
            await this.service.deleteRice(riceId);
            await this.getRices();

            swal.fire({
                title: '~~yeayy~~',
                icon: 'success',
                text: 'Success delete employee' + riceId
            })
        }




    }
</script>

